html, body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin:0;
  overflow: hidden;
  font-family: Helvetica;
  background: #333;
}
header{
  background-color: rgba(187,187,187, 0.5);
  display: flex;
  justify-content: flex-end;
}
nav{
  display: flex;
  height: 2rem;
  

}
ul{
  display: flex;
 list-style-type: none;
  height: 100%;
  margin: 0;
  padding: 0;
 box-shadow: -1px -1px 2px #888;
}
li>button{
 height: 100%;
 width: 5rem;
 font-size: 20px;
 color: #fff;
 text-shadow: 2px 2px 3px #444;
 background-color: #edc305;
 box-shadow: 2px 2px 1px #444;
 border: 1px solid #555;
}
footer{
  height: 5rem;
  background-color: rgba(187,187,187, 0.5);
 justify-content: center;
  font-size: 8px;
  padding: 2rem;
  display: flex;
}
.license {
   text-align: center;
   width: 25%;
}
#tree{
  width:100rem;
  height:100rem;
}
#orgchart{
   width:100rem;
  height:100rem;
}





 [control-expcoll-id] circle {
        fill: #222;
    }

/*ligt-blue background*/
[node-id] rect {
        fill: #93B4CD;
}
/*google green*/
[node-id='1'] rect, [node-id='2'] rect,[node-id='3'] rect, [node-id='4'] rect, [node-id='8'] rect,[node-id='11'] rect, [node-id='12'] rect, [node-id='7'] rect, [node-id='18'] rect, [node-id='19'] rect, [node-id='20'] rect, [node-id='21'] rect,  [node-id='27'] rect, [node-id='28'] rect, [node-id='29'] rect, [node-id='19'] rect, [node-id='20'] rect, [node-id='21'] rect{

        fill: #3cba54;
}
/*google yellow*/
[node-id='5'] rect, [node-id='13'] rect, [node-id='22'] rect, [node-id='31'] rect, [node-id='36'] rect,[node-id='37'] rect, [node-id='38'] rect, [node-id='39'] rect, [node-id='40'] rect{
        fill: #f4d50d;
}

/*orange*/
[node-id='10'] rect,[node-id='15'] rect,[node-id='24'] rect, [node-id='30'] rect,[node-id='33'] rect{
        fill: #f4c20d;
}
/*grey
#8e8c91*/
[node-id='16'] rect,[node-id='25'] rect,[node-id='34'] rect,[node-id='41'] rect{
        fill:  #8e8c91;
    }

/*purple
#a791a8*/
[node-id='17'] rect,[node-id='26'] rect,[node-id='35'] rect,[node-id='42'] rect,[node-id='48'] rect{
        fill: #a791a8;
    }

/*Google Blue
#4885ed*/
[node-id='6'] rect,[node-id='14'] rect,[node-id='23'] rect,[node-id='32'] rect,[node-id='43'] rect,[node-id='44'] rect,[node-id='45'] rect,[node-id='46'] rect, [node-id='47'] rect{
        fill: #4885ed;
    }